@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book Collection WebSite !!!</h1>
    <h2 class="display-4">Register and create multiple books</h2>
</div>
