@model User

@{
    ViewBag.Title = "Create User";
}
<div class="center">
    <h2>User Creation Form</h2>
<form asp-controller="User" asp-action="Description"  method="POST" >
    <label asp-for="user_name"></label><br/>
    <input asp-for="user_name"/><br/>
    <label asp-for="user_email"></label><br />
    <input asp-for="user_email" /><br />
    <label asp-for="user_password"></label><br />
    <input asp-for="user_password"/><br />
    <label asp-for="user_phone"></label>
    <input asp-for="user_phone" /><br />
    <input type="submit"  value="Sign in"/>
</form>
</div>