@model book_collector.ViewModels.BooksViewModel.BookViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="bookName" class="control-label"></label>
                <input asp-for="bookName" class="form-control" />
                <span asp-validation-for="bookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookEdition" class="control-label"></label>
                <input asp-for="bookEdition" class="form-control" />
                <span asp-validation-for="bookEdition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isArchived" /> @Html.DisplayNameFor(model => model.isArchived)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="publisher" class="control-label"></label>
                <input asp-for="publisher" class="form-control" />
                <span asp-validation-for="publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isbnNumber" class="control-label"></label>
                <input asp-for="isbnNumber" class="form-control" />
                <span asp-validation-for="isbnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
